<p id="notice"><%= notice %></p>

<h1>Gossips</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Content</th>
      <th>Nb de commentaire</th>
      <th>Likes</th>
      <th>Tags</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @gossips.each do |gossip| %>
      <tr>
        <td><%= gossip.title %></td>
        <td><%= gossip.author %></td>
        <td><%= gossip.content %></td>
        <td><%=Gossip.joins(:comments, :likes).count%></td>
        <td><%=@comment%></td>
        <td><%=Gossip%></td>
        <td><%= link_to 'Show', gossip %></td>
        <td><%= link_to 'Edit', edit_gossip_path(gossip) %></td>
        <td><%= link_to 'Destroy', gossip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gossip', new_gossip_path %>
